# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/comanda_db"

# JWT
JWT_SECRET="seu-jwt-secret-super-seguro-aqui-12345"
JWT_REFRESH_SECRET="seu-refresh-secret-super-seguro-aqui-67890"

# App
PORT=3001
NODE_ENV=development
